@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    float: left;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

.wrap {
    display: inline-block;
    width: 80%;
}

.results {
    width: 80%;
    display: none;
    position: relative;
}

.command-table {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  position: relative
}

.command {
    text-align: center;
    height: 70px;
}

.check {
    display: none;
}